.displayArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

body {
  background-color: burlywood;
}

h2 {
  display: flex;
  justify-content: center;
}

button {
  /* width: 130px; */
  border: none;
  background-color: orange;
  padding: 15px;
  font-size: 19px;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.eachGrid {
  display: grid;
  margin: 2px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 10px;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.eachGrid > h3 {
  align-items: center;
}

.addBookForm {
  z-index: 1;
  height: 271px;
  width: 400px;
  position: absolute;
  display: none;
  /* background-color: rgba(0, 0, 0, 0.4);  */
}

form {
  background-color: rgba(211, 211, 211, 0.9);
  /* margin: auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  border-radius: 10px;
  /* opacity: 0.91; */
}

input {
  padding: 10px;
  margin: 10px;
}
.gridBlock {
  border: solid 2px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  height: 250px;
}

.readBook {
  background-color: cadetblue;
}

.didntReadBook {
  background-color: maroon;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.addBookBtn {
  width: 130px;
  background-color:midnightblue
}

/* grid-template-columns: repeat(auto-fill, 400px); */
